<head>
    <style>

        body
        {
            max-width: 85%;
            /*background-image: linear-gradient(to right, #35302d 40% , #1C00ff00);*/
            background-image: linear-gradient(to left, #1C00ff00 70% , #df4500);
            font-family: Arial, Helvetica, sans-serif;
        }
        .positionFix
        {
            position: fixed;
        }

        .formPosition
        {
            margin-left: 25%;
        }

        /*https://codepen.io/tdevine33/pen/CnDyv*/
        .unstyled {
            list-style: none;
            padding: 0;
            margin: 0;
        }
        .unstyled a {
            text-decoration: none;
        }
        .list-inline li {
            float: left;
        }
        .header {
            position: fixed;
            left: 0;
            top: 0;
            bottom: 0;
            width: 17.5em;
            background: #35302d;
        }
        .logo {
            font: 300 2em 'Source Sans Pro', Helvetica, Arial, sans-serif;
            text-align: center;
            padding: 0;
            margin: 0;
        }
        .logo a {
            display: block;
            padding: 1em 0;
            color: #dfdbd9;
            text-decoration: none;
            transition: 0.15s linear color;
        }
        .logo a:hover {
            color: #fff;
        }
        .logo a:hover span {
            color: #df4500;
        }
        .logo span {
            font-weight: 700;
            transition: 0.15s linear color;
        }
        .main-nav ul {
            border-top: solid 1px #3c3735;
        }
        .main-nav li {
            border-bottom: solid 1px #3c3735;
        }
        .main-nav a {
            padding: 1.1em 0;
            color: #dfdbd9;
            font: 400 1.125em 'Source Sans Pro', Helvetica, Arial, sans-serif;
            text-align: center;
        }
        .main-nav a:hover {
            color: #fff;
        }
        .list-hover-slide a {
            display: block;
            position: relative;
            z-index: 1;
            transition: 0.35s ease color;
        }

        /*https://www.w3schools.com/howto/howto_css_contact_form.asp*/

        input[type=text], select, textarea {
            width: 100%;
            padding: 12px;
            border: 1px solid #ccc;
            border-radius: 4px;
            box-sizing: border-box;
            margin-top: 6px;
            margin-bottom: 16px;
            resize: vertical;
        }

        input[type=submit] {
            background-color: #4CAF50;
            color: white;
            padding: 12px 20px;
            border: none;
            border-radius: 4px;
            cursor: pointer;
        }

        input[type=submit]:hover {
            background-color: #45a049;
        }

        .container {
            border-radius: 5px;
            padding: 20px;
        }

        input{
            background-color: lightgrey;
        }





    </style>
</head>

<body>

<!--https://codepen.io/tdevine33/pen/CnDyv-->

<div class="positionFix">
    <header class="header" role="banner">
        <h1 class="logo">
            <a href="#">Book<span>Stop</span></a>
        </h1>
        <div class="nav-wrap">
            <nav class="main-nav" role="navigation">
                <ul class="unstyled list-hover-slide">
                    <li><a href="/">Books</a></li>
                    <li><a href="./updateBook">Update Book</a></li>
                    <li><a href="./addBook">Add Book</a></li>
                </ul>
            </nav>
        </div>
    </header>
</div>

<!--_id: id,-->
<!--book_name: bookName,-->
<!--cover: bookCover,-->
<!--author: bookAuthor,-->
<!--genre: bookGenre,-->
<!--price: bookPrice,-->
<!--stock: bookStock-->
<div class="container">
<div class="formPosition">
<h2>Add a Book to the System</h2>
<form method="post" action="/addBook">

<!--    https://www.w3schools.com/howto/howto_css_contact_form.asp-->

    <label for="book_name">Book Name</label>
    <input type="text"   name="book_name" placeholder="Book Name">   <br>

    <label for="author">Author Name</label>
    <input type="text"   name="author"    placeholder="Book Author"> <br>

    <label for="genre">Book Genre</label>
    <input type="text"   name="genre"     placeholder="Book Genre">  <br>

    <label for="price">Book Price</label>
    <input type="text"   name="price"     placeholder="Book Price">  <br>

    <label for="stock">Book Stock</label>
    <input type="text"   name="stock"     placeholder="Book Stock">  <br>

    <label for="cover">Cover Image</label>
    <input type="file"   name="cover"     placeholder="Cover Image"> <br><br>

    <input type="submit" value="Submit">
</form>
</div>

</form>
</div>



</body>